<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ytec_couponsales>
            <general>
                <enable>1</enable>
                <validate_templates>1</validate_templates>
                <make_coupon_sale_available_on_refund>1</make_coupon_sale_available_on_refund>
                <make_coupon_sale_available_on_cancel>1</make_coupon_sale_available_on_cancel>
                <sales_id_regex>/\d{6}(?=\D*$)/</sales_id_regex>
            </general>
            <endpoints>
                <create_voucher>
                    <enable>1</enable>
                </create_voucher>
                <get_voucher>
                    <enable>1</enable>
                </get_voucher>
                <delete_voucher>
                    <enable>1</enable>
                    <soft_delete>1</soft_delete>
                </delete_voucher>
                <disable_voucher>
                    <enable>1</enable>
                </disable_voucher>
                <bulk_disable_voucher>
                    <enable>1</enable>
                </bulk_disable_voucher>
            </endpoints>
        </ytec_couponsales>
    </default>
</config>
