<?xml version="1.0"?>
<!--
/**
* Copyright © 2024 Ytec. All rights reserved.
*
* @package    Ytec
* @moduleName CouponSales
* @author     Matheus Marqui <matheus.701@live.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ytec_CouponSales">
        <sequence>
            <module name="Ytec_Base"/>
            <module name="Magento_Sales"/>
            <module name="Magento_SalesRule"/>
        </sequence>
    </module>
</config>
