<?xml version="1.0"?>
<!--
/**
* Copyright © 2024 Ytec. All rights reserved.
*
* @package    Ytec
* @moduleName CouponSales
* @author     Matheus Marqui <matheus.701@live.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ytec_CouponSales::management" sortOrder="100" title="Coupon Sale Management" module="Ytec_CouponSales"
             parent="Ytec_Base::ytec_menu" resource="Ytec_CouponSales::management" translate="title"
             action="ytec_couponsales/couponsale/index"/>
        <add id="Ytec_CouponSales::promo_couponsales" title="Coupon Sales" translate="title" module="Ytec_CouponSales"
             parent="Magento_Backend::marketing" sortOrder="100" resource="Ytec_CouponSales::management"/>
        <add id="Ytec_CouponSales::promo_couponsales_management" title="Manage Coupon Sales" translate="title"
             sortOrder="10" module="Ytec_CouponSales" parent="Ytec_CouponSales::promo_couponsales"
             action="ytec_couponsales/couponsale/index" dependsOnModule="Ytec_CouponSales"
             resource="Ytec_CouponSales::management"/>
        <add id="Ytec_CouponSales::type_management" sortOrder="30" title="Coupon Type" module="Ytec_CouponSales"
             parent="Ytec_CouponSales::promo_couponsales" resource="Ytec_CouponSales::type_management" translate="title"
             action="ytec_couponsales_type/couponsaletype/index"/>
        <add id="Ytec_CouponSales::import" sortOrder="30" title="Import" module="Ytec_CouponSales"
             parent="Ytec_CouponSales::promo_couponsales" resource="Ytec_CouponSales::management" translate="title"
             action="ytec_couponsales/couponsale/import"/>
    </menu>
</config>
