<?xml version="1.0"?>
<!--
/**
* Copyright © 2024 Ytec. All rights reserved.
*
* @package    Ytec
* @moduleName CouponSales
* @author     Matheus Marqui <matheus.701@live.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ytec_couponsales" frontName="ytec_couponsales">
            <module name="Ytec_CouponSales"/>
        </route>
    </router>
</config>
