<?xml version="1.0"?>
<!--
/**
* Copyright © 2024 Ytec. All rights reserved.
*
* @package    Ytec
* @moduleName CouponSales
* @author     Matheus Marqui <matheus.701@live.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ytec_couponsales" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Coupon Sales</label>
            <tab>ytec</tab>
            <resource>Ytec_CouponSales::management</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="validate_templates" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Validate Coupon Sales Templates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Validate if the Coupon Sale sent by partner matches the rule code's template.</comment>
                </field>
                <field id="make_coupon_sale_available_on_refund" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Make Coupon Sale Available on Refund</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Make the coupon sale available after the order is completely refunded (through credit memo).</comment>
                </field>
                <field id="make_coupon_sale_available_on_cancel" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Make Coupon Sale Available on Cancel</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Make the coupon sale available after the order is canceled.</comment>
                </field>
                <field id="sales_id_regex" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sales ID Regex</label>
                    <comment>Regex to extract the Sales ID sent by partner.</comment>
                </field>
            </group>
            <group id="endpoints" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Endpoints</label>
                <group id="create_voucher" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create Coupon Sale</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable the endpoint to create a voucher. <strong>POST /V1/ytec/coupon-sales/coupons</strong>]]></comment>
                    </field>
                </group>
                <group id="get_voucher" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Get Coupon Sale</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable the endpoint to get a voucher. <strong>GET /V1/ytec/coupon-sales/:code</strong>]]></comment>
                    </field>
                </group>
                <group id="delete_voucher" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delete Coupon Sale</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable the endpoint to delete a voucher. <strong>DELETE /V1/ytec/coupon-sales/:code</strong>]]></comment>
                    </field>
                    <field id="soft_delete" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Soft Delete</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Soft delete the voucher instead of hard delete. The requests made to this endpoint will be mapped to disable voucher endpoint.</comment>
                    </field>
                </group>
                <group id="disable_voucher" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Coupon Sale</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable the endpoint to disable a voucher. <strong>PUT /V1/ytec/coupon-sales/:code/disable</strong>]]></comment>
                    </field>
                </group>
                <group id="bulk_disable_voucher" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bulk Disable Coupon Sale</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Enable the endpoint to disable a list of vouchers. <strong>POST /V1/ytec/coupon-sales/bulk/disable</strong>]]></comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
